page-home {

    ion-content {
        background-color: mintcream;
        width:100%;
    }

    .item-md {
        background-color: transparent;
        color: #3c3c3b;
        font-weight: bolder;
    }

    .text1, .text2, .text3, .text4 {
        text-align:center;
        color: #3c3c3b;
        font-size: medium;
    }
    .text2 {
        font-size: small;
        text-decoration: underline;
    }

    .text4 {
        font-size: x-large;
    }

    .space{
        height: 30%;
    }

    .button-md, .button-md:hover:not(.disable-hover) {
        background-color: #3c3c3b;
    }

    [text-wrap] .label-md{
        color: #69f4f4;
        font-size: x-large;
        text-align: center;
        font-weight: bold;
    }
    [text-wrap] ion-label{
        white-space: nowrap;
    }
    [col-6] .item-md.item-block .item-inner{
        border: none;
    }
}
