page-home {
    ion-content {
        background-image: url('../assets/imgs/bgfirstpage.jpeg');
        background-repeat:no-repeat;
        background-size:cover;
        width:100%;
    }

    .item-md {
        background-color: transparent;
        color: white;
        font-weight: bolder;
    }

    .text1, .text2, .text3, .text4 {
        text-align:center;
        color: white;
        font-size: medium;
    }
    .text2 {
        font-size: small;
        text-decoration: underline;
    }

    .text4 {
        font-size: x-large;
    }

    .space{
        height: 30%;
    }

    .button-md, .button-md:hover:not(.disable-hover) {
        background-color: #091739;
    }

    [text-wrap] .label-md{
        color: #69f4f4;
        font-size: x-large;
        text-align: center;
        font-weight: bold;
    }
    [text-wrap] ion-label{
        white-space: nowrap;
    }
    [col-6] .item-md.item-block .item-inner{
        border: none;
    }
    .attempoborder {
        border-bottom: solid #fbe07b 2px;
        margin-left: 30%;
        margin-right: 30%;
    }
}
